<div class="px-6">
    <div
        class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between pb-7 sm:px-10 bg-default dark:bg-transparent">
        <div class="flex-1 min-w-0">

            <div>
                <div class="hidden sm:flex flex-wrap items-center font-medium">
                    <div>
                        <a class="ml-1 text-primary-500" [routerLink]="['/admin/dashboard']">
                            Inicio
                        </a>
                    </div>
                    <div class="flex items-center ml-1 whitespace-nowrap">
                        <i class="pi pi-chevron-right text-sm mt-1"></i>
                        ABMs
                    </div>
                    <div class="flex items-center ml-1 whitespace-nowrap">
                        <i class="pi pi-chevron-right text-sm mt-1"></i>
                        Ordenes
                    </div>
                </div>
            </div>

            <div class="mt-2">
                <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                    Listado ordenes
                </h2>
            </div>
        </div>

        <div class="flex shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
            <p-button label="Crear orden" (onClick)="openDialog()" />
        </div>
    </div>
    <div>
        <p-table [value]="(orders$ | async) || []" [paginator]="true" [rows]="10" class="shadow-lg rounded">
            <ng-template pTemplate="header">
                <tr>
                    <th>#</th>
                    <th>Nombre del cliente</th>
                    <th>Fecha de orden</th>
                    <th>Total</th>
                    <th>Acciones</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-order>
                <tr>
                    <td>{{order.id}}</td>
                    <td>{{order.customer.name}}</td>
                    <td>{{order.orderDate | date}}</td>
                    <td>{{order.total | currency}}</td>
                    <td>
                        <div class="flex gap-2 justify-center items-center">
                            <i class="pi pi-pencil cursor-pointer" (click)="openDialog(order)"></i>
                            <p-confirmPopup />
                            <i class="pi pi-trash cursor-pointer" (click)="deleteOrder(order.id, $event)"></i>
                        </div>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>